<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasplotly}} <script src="/libs/plotly/plotly.min.js"></script> {{end}}
  {{if hasmath}} <link rel="stylesheet" href="/libs/katex/katex.min.css"> {{end}}
  {{if hascode}} <link rel="stylesheet" href="/libs/highlight/github.min.css"> {{end}}
  <link rel="stylesheet" href="/css/jtd.css">
  <link rel="icon" href="/assets/favicon.ico">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>                      <!-- closed in foot.html -->
<div class="page-wrap">   <!-- closed in foot.html -->
  <!-- SIDE BAR -->
  <div class="side-bar">
    <div class="header">
      <a href="/" class="title">
        <img style="height:55px;" src="/assets/title.svg" alt="David Widmann" />
        <style>
          @media (max-width: 31.25rem){
              .side-bar .show-menu {height:30px;}
          }
          @media (max-width: 50rem) {
              .side-bar .header .title {padding-top:0; padding-bottom: 0;}
              .header .title img {height:55px; max-width: 100px !important;}
          }
          @media (min-width: 66.5rem){
              .header .title img {max-width: 140px !important;}
          }
        </style>
      </a>
    </div>
    <label for="show-menu" class="show-menu">MENU</label>
    <input type="checkbox" id="show-menu" role="button">
    <div class="menu" id="side-menu">
      <ul class="menu-list">
        <li class="menu-list-item {{ispage index}}active{{end}}"><a href="/" class="menu-list-link {{ispage index}}active{{end}}">Home</a>
        <li class="menu-list-item {{ispage blog/*}}active{{end}}"><a href="/blog/" class="menu-list-link {{ispage blog/*}}active{{end}}">Blog</a>
        <li class="menu-list-item {{ispage research/*}}active{{end}}"><a href="/research/" class="menu-list-link {{ispage research/*}}active{{end}}">Research</a>
        <li class="menu-list-item {{ispage about/*}}active{{end}}"><a href="/about/" class="menu-list-link {{ispage about/*}}active{{end}}">About</a>
      </ul>
    </div>
    <div class="footer">
      <a href="https://github.com/devmotion" title="GitHub profile">
        <img class="icon" src="/assets/icons/github.svg" alt="GitHub"></a>

      <a href="https://gitlab.com/devmotion" title="GitLab profile">
        <img class="icon" src="/assets/icons/gitlab.svg" alt="GitLab"></a>

      <a href="mailto:david.widmann__at__it.uu.se" title="email address">
        <img class="icon" src="/assets/icons/email.svg" alt="email"></a>

      <a href="https://www.linkedin.com/in/david-widmann" title="LinkedIn profile">
        <img class="icon" src="/assets/icons/linkedin.svg" alt="LinkedIn"></a>
    </div>
  </div>
  <!-- CONTENT -->
  <div class="main-content-wrap"> <!-- closed in foot.html -->
    <div class="main-content">    <!-- closed in foot.html -->
      <div class="main-header">
        <a name="pagetop"></a>

        <a id="github" href="https://github.com/devmotion/widmann.dev/blob/master/{{fd_rpath}}">Page source</a>
      </div>

<!-- Content appended here (in class franklin-content) -->
